.holder {
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* height: 300px; */
}
.item {
  margin: 10px;
  height: 100px;
  width: 100px;
  padding: 5px;
  background-color: aqua;
}
/* Your CSS Code here. */
